html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EEC5A4;
    color: #111;
    font: 1em/1.625 'Helvetica Neue',Helvetica,Arial,sans-serif
}

h1 {
    font-size:xx-large;
    margin-bottom: 20px;
}

#body-div {
    margin: 10px 20px;
}

#map-wrapper {
    display:block;
    margin: 0 auto;
}

#demoMap {
    height: 270px;
    width: 100%;
    border-radius: 4px;
}

#data-wrapper {
    display:block;
    margin-top: 20px;
    width: 100%;
}

#data {
    padding-left:10px;
    margin-top:10px;
}

#data label {
    font-weight: bold;
    display: inline-block;
    min-width: 150px;
}

img {
    margin-top: 10px;
    margin-bottom: 10px;
}

a:hover {
    transition: all 0.3s linear 0s;
    border-bottom: 2px solid #8f1f1f;
    color: black;
}

a:hover, a:active {
    	outline: medium none;
}

a, a:visited {
    border-bottom: 2px solid #AAAAAA;
    color: #777777;
    text-decoration: none;
}

.clear {
    clear:both;
}

#footer {
    margin-top: 30px;
    width:100%;
    text-align:right;
}

